body {
    background-color:#EBEBEB;
}

.heading {
    background-color: black;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
}

.title {
    background-color: black;
    padding: 5px;
    color: white;
}

#runtime {
    background-color: #333333;
    color: #3E8FDE;
    padding: 0px 0px 5px 5px;
}

.content {
    color: #3E8FDE;
}

#subtitle {
    color: white;
    margin-left: 55px;
}

#showing {
    margin-left: 20px;
}

.film {
    font-size: 20px;
    display:flex;
    justify-content: center;
    border:double;
    margin:0.5%;
    background-color: orange;
}

.sold-out {
    color: rgb(189, 42, 86);
}

img {
    max-width: 25vw;
}

#film-info {
    padding-bottom: 30px;
    background-color: aqua;
    color:black
}